astroid==2.2.5
certifi==2019.6.16
chardet==3.0.4
colorama==0.4.1
docutils==0.14
idna==2.8
isort==4.3.21
Kivy==1.11.1
kivy-deps.glew==0.1.12
kivy-deps.gstreamer==0.1.17
kivy-deps.sdl2==0.1.22
Kivy-Garden==0.1.4
#kivymd==0.1.2
git+https://github.com/HeaTTheatR/KivyMD.git
lazy-object-proxy==1.4.1
mccabe==0.6.1
Pygments==2.4.2
pylint==2.3.1
pypiwin32==223
pywin32==224
requests==2.22.0
six==1.12.0
typed-ast==1.4.0
urllib3==1.25.3
wrapt==1.11.2
